<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home page</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="list"></ion-icon>
      <ion-label>Car List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="square"></ion-icon>
      <ion-label>Search </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="availableCars">
      <ion-icon name="car"></ion-icon>
      <ion-label>Available Cars</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="edit">
      <ion-icon name="create"></ion-icon>
      <ion-label>Edit cars</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
