<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to the car Management System!
      <br>
      You can add, delete, or edit data
      <br>
      author :  Ding neng du xue lei , du zhe miao
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  You can click the tab go to   edit or create cart and view list
<!--  <h4 (swipe)="doSwipe()">Please swipe me!</h4>-->
<!--  <p>Swiped {{swipeNumber}} times.</p>-->

<!--  <h4 (swipeleft)="doSwipeLeft()">Please swipe left me!</h4>-->
<!--  <p>Swiped left {{swipeLeftNumber}} times.</p>-->

<!--  <h4 (tap)="doTap()">Please tap me!</h4>-->
<!--  <p>Tapped {{tapNumber}} times.</p>-->

<!--  <h4 (doubletap)="doDoubleTap()">Please double tap me!</h4>-->
<!--  <p>Double tapped {{doubleTapNumber}} times.</p>-->

<!--  <h4 (press)="doPress()">Please press me!</h4>-->
<!--  <p>Pressed {{pressNumber}} times.</p>-->

</ion-content>
